{% extends "admin/base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='h_admin/js/plugins/ztree/ztree-metro-style.css') }}" />
<div class="ibox float-e-margins">
	<div class="ibox-content">
	    <div class="layui-tab-content">
	        <div class="layui-tab-item layui-show">
	            <ul id="tree" class="ztree"></ul>
	        </div>
	    </div>
	    <input type="hidden" id="group_id" name="group_id" value="{{ group_id }}">
	    <button class="btn btn-primary radius" id="auth-btn" style="margin-top:50px">授权</button>
	</div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/plugins/ztree/jquery.ztree.all.min.js') }}"></script>
<script>
$(document).ready(function(){
	/**
	 * 加载树形授权菜单
	 */
	var _id = $("#group_id").val();
	var tree = $("#tree");
	var zTree;

	// zTree 配置项
	var setting = {
		check: {
			enable: true
		},
		view: {
			dblClickExpand: false,
			showLine: true,
			showIcon: false,
			selectedMulti: false
		},
		data: {
			simpleData: {
				enable: true,
				idKey: "id",
				pIdKey: "pid",
				rootpid: ""
			},
			key: {
				name: "title"
			}
		}
	};

	zTree = $.fn.zTree.init(tree, setting, {{ auth_list|tojson }});

	/**
	 * 授权提交
	 */
	$("#auth-btn").on("click", function () {
		var checked_ids,auth_permission_ids = [];
		checked_ids = zTree.getCheckedNodes(); // 获取当前选中的checkbox
		$.each(checked_ids, function (index, item) {
			auth_permission_ids.push(item.id);
		});
		auth_permission_ids = auth_permission_ids.join(',')

		$.ajax({
			url: "{{ url_for('admin.auth_group_auth') }}",
			type: "post",
			cache: false,
			data: {
				id: _id,
				auth_permission_ids: auth_permission_ids
			},
			success: function (res) {
				if(res.status == 200){
					layer.msg(res.msg);
				}
			}
		});
	});
});
</script>
{% endblock %}