[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-login = "*"
flask-script = "*"
flask-migrate = "*"
cymysql = "*"
wtforms = "*"
flask-httpauth = "*"
flask-cache = "*"
requests = "*"
lxml = "*"
wheel = "*"
wechatpy = "*"
paramiko = "*"
pycryptodome = "*"
flask-sqlalchemy = "*"
flask-docs = "*"

[requires]
python_version = "3.7"
