[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
cymysql = "*"
wtforms = "*"
flask-httpauth = "*"
flask-cache = "*"
requests = "*"
lxml = {path = "e:/lxml-4.3.1-cp37-cp37m-win_amd64.whl"}
wheel = {index = "https://pypi.doubanio.com/simple",version = "*"}

[dev-packages]

[requires]
python_version = "3.7"
