[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
cymysql = "*"
wtforms = "*"
flask-httpauth = "*"
flask-cache = "*"

[dev-packages]

[requires]
python_version = "3.7"
