{% extends "admin/base.html" %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>{{ menutitle }}</h2>
        <ol class="breadcrumb">
            <li>{{ navtitle }}</li>
        </ol>
    </div>
    <div class="col-lg-3">
        <div class="title-action">
            <a href="" class="btn btn-primary">刷新</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
			<div class="row">
				<div class="col-sm-8">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>微信公众号关注回复管理</h5>
						</div>
						<div class="ibox-content">
							<form class="form-horizontal" id="form-config-add">
								<div class="form-group">
									<label class="col-sm-2 control-label">关注文本回复：</label>
                                    <div class="col-sm-10">
                                        <textarea name="content" id="Hfcontent" cols="" rows="12" class="form-control" >{{ find.content or '' }}</textarea>
                                    </div>
								</div>
                                <div class="form-group">
									<label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <ul>
                                            <li class="biaoqing"><span>表情</span>
                                              <ul>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/0.gif') }}" alt="微笑" onClick="jsbq('微笑')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/1.gif') }}" alt="撇嘴" onClick="jsbq('撇嘴')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/2.gif') }}" alt="色" onClick="jsbq('色')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/3.gif') }}" alt="发呆" onClick="jsbq('发呆')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/4.gif') }}" alt="得意" onClick="jsbq('得意')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/5.gif') }}" alt="流泪" onClick="jsbq('流泪')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/6.gif') }}" alt="害羞" onClick="jsbq('害羞')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/7.gif') }}" alt="闭嘴" onClick="jsbq('闭嘴')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/8.gif') }}" alt="睡" onClick="jsbq('睡')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/9.gif') }}" alt="大哭" onClick="jsbq('大哭')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/10.gif') }}" alt="尴尬" onClick="jsbq('尴尬')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/11.gif') }}" alt="发怒" onClick="jsbq('发怒')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/12.gif') }}" alt="调皮" onClick="jsbq('调皮')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/13.gif') }}" alt="呲牙" onClick="jsbq('呲牙')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/14.gif') }}" alt="惊讶" onClick="jsbq('惊讶')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/15.gif') }}" alt="难过" onClick="jsbq('难过')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/16.gif') }}" alt="酷" onClick="jsbq('酷')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/17.gif') }}" alt="冷汗" onClick="jsbq('冷汗')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/18.gif') }}" alt="抓狂" onClick="jsbq('抓狂')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/19.gif') }}" alt="吐" onClick="jsbq('吐')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/20.gif') }}" alt="偷笑" onClick="jsbq('偷笑')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/21.gif') }}" alt="可爱" onClick="jsbq('可爱')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/22.gif') }}" alt="白眼" onClick="jsbq('白眼')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/23.gif') }}" alt="傲慢" onClick="jsbq('傲慢')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/24.gif') }}" alt="饥饿" onClick="jsbq('饥饿')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/25.gif') }}" alt="困" onClick="jsbq('困')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/26.gif') }}" alt="惊恐" onClick="jsbq('惊恐')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/27.gif') }}" alt="流汗" onClick="jsbq('流汗')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/28.gif') }}" alt="憨笑" onClick="jsbq('憨笑')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/29.gif') }}" alt="大兵" onClick="jsbq('大兵')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/30.gif') }}" alt="奋斗" onClick="jsbq('奋斗')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/31.gif') }}" alt="咒骂" onClick="jsbq('咒骂')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/32.gif') }}" alt="疑问" onClick="jsbq('疑问')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/33.gif') }}" alt="嘘" onClick="jsbq('嘘')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/34.gif') }}" alt="晕" onClick="jsbq('晕')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/35.gif') }}" alt="折磨" onClick="jsbq('折磨')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/36.gif') }}" alt="衰" onClick="jsbq('衰')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/37.gif') }}" alt="骷髅" onClick="jsbq('骷髅')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/38.gif') }}" alt="敲打" onClick="jsbq('敲打')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/39.gif') }}" alt="再见" onClick="jsbq('再见')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/40.gif') }}" alt="擦汗" onClick="jsbq('擦汗')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/41.gif') }}" alt="抠鼻" onClick="jsbq('抠鼻')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/42.gif') }}" alt="鼓掌" onClick="jsbq('鼓掌')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/43.gif') }}" alt="糗大了" onClick="jsbq('糗大了')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/44.gif') }}" alt="坏笑" onClick="jsbq('坏笑')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/45.gif') }}" alt="左哼哼" onClick="jsbq('左哼哼')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/46.gif') }}" alt="右哼哼" onClick="jsbq('右哼哼')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/47.gif') }}" alt="哈欠" onClick="jsbq('哈欠')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/48.gif') }}" alt="鄙视" onClick="jsbq('鄙视')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/49.gif') }}" alt="委屈" onClick="jsbq('委屈')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/50.gif') }}" alt="快哭了" onClick="jsbq('快哭了')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/51.gif') }}" alt="阴险" onClick="jsbq('阴险')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/52.gif') }}" alt="亲亲" onClick="jsbq('亲亲')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/53.gif') }}" alt="吓" onClick="jsbq('吓')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/54.gif') }}" alt="可怜" onClick="jsbq('可怜')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/55.gif') }}" alt="菜刀" onClick="jsbq('菜刀')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/56.gif') }}" alt="西瓜" onClick="jsbq('西瓜')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/57.gif') }}" alt="啤酒" onClick="jsbq('啤酒')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/58.gif') }}" alt="篮球" onClick="jsbq('篮球')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/59.gif') }}" alt="乒乓" onClick="jsbq('乒乓')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/60.gif') }}" alt="咖啡" onClick="jsbq('咖啡')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/61.gif') }}" alt="饭" onClick="jsbq('饭')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/62.gif') }}" alt="猪头" onClick="jsbq('猪头')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/63.gif') }}" alt="玫瑰" onClick="jsbq('玫瑰')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/64.gif') }}" alt="凋谢" onClick="jsbq('凋谢')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/65.gif') }}" alt="示爱" onClick="jsbq('示爱')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/66.gif') }}" alt="爱心" onClick="jsbq('爱心')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/67.gif') }}" alt="心碎" onClick="jsbq('心碎')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/68.gif') }}" alt="蛋糕" onClick="jsbq('蛋糕')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/69.gif') }}" alt="闪电" onClick="jsbq('闪电')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/70.gif') }}" alt="炸弹" onClick="jsbq('炸弹')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/71.gif') }}" alt="刀" onClick="jsbq('刀')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/72.gif') }}" alt="足球" onClick="jsbq('足球')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/73.gif') }}" alt="瓢虫" onClick="jsbq('瓢虫')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/74.gif') }}" alt="便便" onClick="jsbq('便便')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/75.gif') }}" alt="月亮" onClick="jsbq('月亮')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/76.gif') }}" alt="太阳" onClick="jsbq('太阳')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/77.gif') }}" alt="礼物" onClick="jsbq('礼物')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/78.gif') }}" alt="拥抱" onClick="jsbq('拥抱')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/79.gif') }}" alt="强" onClick="jsbq('强')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/80.gif') }}" alt="弱" onClick="jsbq('弱')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/81.gif') }}" alt="握手" onClick="jsbq('握手')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/82.gif') }}" alt="胜利" onClick="jsbq('胜利')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/83.gif') }}" alt="抱拳" onClick="jsbq('抱拳')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/84.gif') }}" alt="勾引" onClick="jsbq('勾引')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/85.gif') }}" alt="拳头" onClick="jsbq('拳头')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/86.gif') }}" alt="差劲" onClick="jsbq('差劲')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/87.gif') }}" alt="爱你" onClick="jsbq('爱你')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/88.gif') }}" alt="NO" onClick="jsbq('NO')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/89.gif') }}" alt="OK" onClick="jsbq('OK')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/90.gif') }}" alt="爱情" onClick="jsbq('爱情')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/91.gif') }}" alt="飞吻" onClick="jsbq('飞吻')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/92.gif') }}" alt="跳跳" onClick="jsbq('跳跳')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/93.gif') }}" alt="发抖" onClick="jsbq('发抖')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/94.gif') }}" alt="怄火" onClick="jsbq('怄火')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/95.gif') }}" alt="转圈" onClick="jsbq('转圈')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/96.gif') }}" alt="磕头" onClick="jsbq('磕头')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/97.gif') }}" alt="回头" onClick="jsbq('回头')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/98.gif') }}" alt="跳绳" onClick="jsbq('跳绳')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/99.gif') }}" alt="挥手" onClick="jsbq('挥手')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/100.gif') }}" alt="激动" onClick="jsbq('激动')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/101.gif') }}" alt="街舞" onClick="jsbq('街舞')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/102.gif') }}" alt="献吻" onClick="jsbq('献吻')"></li>
                                              <li><img src="{{ url_for('static', filename='h_admin/face/103.gif') }}" alt="左太极" onClick="jsbq('左太极')"></li>
                                              </ul>
                                            </li>
                                        </ul>
                                    </div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-2">
										<button class="btn btn-primary" type="submit">保存/修改</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>备注说明</h5>
						</div>
						<div class="ibox-content">
							备注说明
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- validate -->
<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/plugins/validate/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/plugins/validate/messages_zh.min.js') }}"></script>
<!-- Sweet alert -->
<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/plugins/sweetalert/sweetalert.min.js') }}"></script>
<style>
.biaoqing {
    position: relative;
    display: block;
    height: 25px;
    width: 60px;
    background: url({{ url_for('static', filename='h_admin/face/biaoqing.png') }}) no-repeat left center;
}
.biaoqing:hover ul{ display:block;}
.biaoqing span {
    display: block;
    line-height: 25px;
    text-indent: 20px;
    cursor: pointer;
}
.biaoqing ul {
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 1px 3px #ccc;
    left: -50px;
    padding: 5px;
    position: absolute;
    z-index: 999;
    width: 450px;
}
.biaoqing ul li {
    border: 1px solid #dfe6f6;
    height: 24px;
    width: 24px;
    display: block;
    padding: 2px;
    float: left;
    cursor: pointer;
}
.biaoqing ul li:hover{
	border: 1px solid #336699;
}
</style>
<script type="text/javascript">
function jsbq(srt){
	document.getElementById("Hfcontent").value=document.getElementById("Hfcontent").value+"/"+srt;
}

$(function(){
	$("#form-config-add").validate({
		rules:{
			content:{
				required:true,
				minlength:2
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			ajaxSubmit();
		}
	});
});

function ajaxSubmit(){
	var submitData = $('#form-config-add').serialize();
    $.post("{{ url_for('admin.reply_index') }}", submitData, function(res) {
		if(res.status == 200){
			swal({
				title: "设置完成",
				type: "success"
			}, function () {
				window.location.reload();
			});
		}else{
			alert(res.msg);
		}
	}, "json");
}
</script>
{% endblock %}