{% extends "admin/base.html" %}

{% block content %}
<article class="page-container">
	<form action="" class="form form-horizontal" id="formAdd">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span> 权限组名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="" name="title" value="{{ find.title }}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">状态：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="status" type="radio" id="status-1" value="1" {% if find.status == 1 %} checked="checked" {% endif %}>
					<label for="status-1">启动</label>
				</div>
				<div class="radio-box">
					<input name="status" type="radio" id="status-2" value="0" {% if find.status == 0 %} checked="checked" {% endif %}>
					<label for="status-2">停用</label>
				</div>
			</div>
		</div>
		<input type="hidden" name="id" value="{{ find.id }}">
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;编辑&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{% endblock %}

{% block scripts %}
    {{ super() }}
<script type="text/javascript">
$(function(){
	$(".btn").click(function(){
		var submitData = $('#formAdd').serialize();
		$.post("{{ url_for('admin.auth_group_edit') }}", submitData, function(res) {
			if (res.status == 200) {
			    window.parent.location.reload();
				var index = parent.layer.getFrameIndex(window.name);
				parent.layer.close(index);
			}else{
				alert(res.msg);
			}
		}, "json");
	})
});

</script>
{% endblock %}