{% extends "admin/base.html" %}

{% block content %}
<article class="page-container">
	<form action="" class="form form-horizontal" id="form-menu-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span> 关键词：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="" name="keyword" value="{{ find.keyword }}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">类型：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="type" type="radio" id="status-1" value="1" {% if find.type == 1 %} checked="checked" {% endif %}>
					<label for="status-1">完全匹配</label>
				</div>
				<div class="radio-box">
					<input name="type" type="radio" id="status-2" value="2" {% if find.type == 2 %} checked="checked" {% endif %}>
					<label for="status-2">模糊匹配</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">状态：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="status" type="radio" id="status-3" value="1" {% if find.status == 1 %} checked="checked" {% endif %}>
					<label for="status-1">启动</label>
				</div>
				<div class="radio-box">
					<input name="status" type="radio" id="status-4" value="0" {% if find.status == 0 %} checked="checked" {% endif %}>
					<label for="status-2">停用</label>
				</div>
			</div>
		</div>
		<input name="id" type="hidden" value="{{ find.id }}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span> 回复文本内容：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="content" id="Hfcontent" cols="" rows="" class="textarea"  placeholder="回复文本内容写点什么……" >{{ find.content }}</textarea>
				<ul>
	              <li class="biaoqing"><span>表情</span>
		              <ul>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/0.gif') }}" alt="微笑" onClick="jsbq('微笑')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/1.gif') }}" alt="撇嘴" onClick="jsbq('撇嘴')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/2.gif') }}" alt="色" onClick="jsbq('色')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/3.gif') }}" alt="发呆" onClick="jsbq('发呆')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/4.gif') }}" alt="得意" onClick="jsbq('得意')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/5.gif') }}" alt="流泪" onClick="jsbq('流泪')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/6.gif') }}" alt="害羞" onClick="jsbq('害羞')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/7.gif') }}" alt="闭嘴" onClick="jsbq('闭嘴')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/8.gif') }}" alt="睡" onClick="jsbq('睡')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/9.gif') }}" alt="大哭" onClick="jsbq('大哭')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/10.gif') }}" alt="尴尬" onClick="jsbq('尴尬')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/11.gif') }}" alt="发怒" onClick="jsbq('发怒')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/12.gif') }}" alt="调皮" onClick="jsbq('调皮')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/13.gif') }}" alt="呲牙" onClick="jsbq('呲牙')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/14.gif') }}" alt="惊讶" onClick="jsbq('惊讶')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/15.gif') }}" alt="难过" onClick="jsbq('难过')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/16.gif') }}" alt="酷" onClick="jsbq('酷')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/17.gif') }}" alt="冷汗" onClick="jsbq('冷汗')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/18.gif') }}" alt="抓狂" onClick="jsbq('抓狂')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/19.gif') }}" alt="吐" onClick="jsbq('吐')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/20.gif') }}" alt="偷笑" onClick="jsbq('偷笑')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/21.gif') }}" alt="可爱" onClick="jsbq('可爱')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/22.gif') }}" alt="白眼" onClick="jsbq('白眼')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/23.gif') }}" alt="傲慢" onClick="jsbq('傲慢')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/24.gif') }}" alt="饥饿" onClick="jsbq('饥饿')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/25.gif') }}" alt="困" onClick="jsbq('困')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/26.gif') }}" alt="惊恐" onClick="jsbq('惊恐')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/27.gif') }}" alt="流汗" onClick="jsbq('流汗')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/28.gif') }}" alt="憨笑" onClick="jsbq('憨笑')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/29.gif') }}" alt="大兵" onClick="jsbq('大兵')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/30.gif') }}" alt="奋斗" onClick="jsbq('奋斗')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/31.gif') }}" alt="咒骂" onClick="jsbq('咒骂')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/32.gif') }}" alt="疑问" onClick="jsbq('疑问')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/33.gif') }}" alt="嘘" onClick="jsbq('嘘')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/34.gif') }}" alt="晕" onClick="jsbq('晕')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/35.gif') }}" alt="折磨" onClick="jsbq('折磨')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/36.gif') }}" alt="衰" onClick="jsbq('衰')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/37.gif') }}" alt="骷髅" onClick="jsbq('骷髅')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/38.gif') }}" alt="敲打" onClick="jsbq('敲打')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/39.gif') }}" alt="再见" onClick="jsbq('再见')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/40.gif') }}" alt="擦汗" onClick="jsbq('擦汗')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/41.gif') }}" alt="抠鼻" onClick="jsbq('抠鼻')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/42.gif') }}" alt="鼓掌" onClick="jsbq('鼓掌')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/43.gif') }}" alt="糗大了" onClick="jsbq('糗大了')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/44.gif') }}" alt="坏笑" onClick="jsbq('坏笑')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/45.gif') }}" alt="左哼哼" onClick="jsbq('左哼哼')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/46.gif') }}" alt="右哼哼" onClick="jsbq('右哼哼')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/47.gif') }}" alt="哈欠" onClick="jsbq('哈欠')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/48.gif') }}" alt="鄙视" onClick="jsbq('鄙视')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/49.gif') }}" alt="委屈" onClick="jsbq('委屈')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/50.gif') }}" alt="快哭了" onClick="jsbq('快哭了')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/51.gif') }}" alt="阴险" onClick="jsbq('阴险')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/52.gif') }}" alt="亲亲" onClick="jsbq('亲亲')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/53.gif') }}" alt="吓" onClick="jsbq('吓')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/54.gif') }}" alt="可怜" onClick="jsbq('可怜')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/55.gif') }}" alt="菜刀" onClick="jsbq('菜刀')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/56.gif') }}" alt="西瓜" onClick="jsbq('西瓜')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/57.gif') }}" alt="啤酒" onClick="jsbq('啤酒')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/58.gif') }}" alt="篮球" onClick="jsbq('篮球')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/59.gif') }}" alt="乒乓" onClick="jsbq('乒乓')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/60.gif') }}" alt="咖啡" onClick="jsbq('咖啡')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/61.gif') }}" alt="饭" onClick="jsbq('饭')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/62.gif') }}" alt="猪头" onClick="jsbq('猪头')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/63.gif') }}" alt="玫瑰" onClick="jsbq('玫瑰')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/64.gif') }}" alt="凋谢" onClick="jsbq('凋谢')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/65.gif') }}" alt="示爱" onClick="jsbq('示爱')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/66.gif') }}" alt="爱心" onClick="jsbq('爱心')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/67.gif') }}" alt="心碎" onClick="jsbq('心碎')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/68.gif') }}" alt="蛋糕" onClick="jsbq('蛋糕')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/69.gif') }}" alt="闪电" onClick="jsbq('闪电')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/70.gif') }}" alt="炸弹" onClick="jsbq('炸弹')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/71.gif') }}" alt="刀" onClick="jsbq('刀')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/72.gif') }}" alt="足球" onClick="jsbq('足球')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/73.gif') }}" alt="瓢虫" onClick="jsbq('瓢虫')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/74.gif') }}" alt="便便" onClick="jsbq('便便')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/75.gif') }}" alt="月亮" onClick="jsbq('月亮')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/76.gif') }}" alt="太阳" onClick="jsbq('太阳')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/77.gif') }}" alt="礼物" onClick="jsbq('礼物')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/78.gif') }}" alt="拥抱" onClick="jsbq('拥抱')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/79.gif') }}" alt="强" onClick="jsbq('强')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/80.gif') }}" alt="弱" onClick="jsbq('弱')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/81.gif') }}" alt="握手" onClick="jsbq('握手')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/82.gif') }}" alt="胜利" onClick="jsbq('胜利')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/83.gif') }}" alt="抱拳" onClick="jsbq('抱拳')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/84.gif') }}" alt="勾引" onClick="jsbq('勾引')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/85.gif') }}" alt="拳头" onClick="jsbq('拳头')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/86.gif') }}" alt="差劲" onClick="jsbq('差劲')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/87.gif') }}" alt="爱你" onClick="jsbq('爱你')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/88.gif') }}" alt="NO" onClick="jsbq('NO')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/89.gif') }}" alt="OK" onClick="jsbq('OK')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/90.gif') }}" alt="爱情" onClick="jsbq('爱情')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/91.gif') }}" alt="飞吻" onClick="jsbq('飞吻')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/92.gif') }}" alt="跳跳" onClick="jsbq('跳跳')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/93.gif') }}" alt="发抖" onClick="jsbq('发抖')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/94.gif') }}" alt="怄火" onClick="jsbq('怄火')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/95.gif') }}" alt="转圈" onClick="jsbq('转圈')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/96.gif') }}" alt="磕头" onClick="jsbq('磕头')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/97.gif') }}" alt="回头" onClick="jsbq('回头')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/98.gif') }}" alt="跳绳" onClick="jsbq('跳绳')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/99.gif') }}" alt="挥手" onClick="jsbq('挥手')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/100.gif') }}" alt="激动" onClick="jsbq('激动')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/101.gif') }}" alt="街舞" onClick="jsbq('街舞')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/102.gif') }}" alt="献吻" onClick="jsbq('献吻')"></li>
		              <li><img src="{{ url_for('static', filename='admin_static/images/face/103.gif') }}" alt="左太极" onClick="jsbq('左太极')"></li>
		              </ul>
	              </li>
	            </ul>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;编辑&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{% endblock %}

{% block scripts %}
    {{ super() }}
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

	$("#form-menu-add").validate({
		rules:{
			title:{
				required:true,
				minlength:2,
				maxlength:16
			},
			sort:{
				required:true,
				number:true,
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			ajaxSubmit();
		}
	});
});

function jsbq(srt){
	document.getElementById("Hfcontent").value=document.getElementById("Hfcontent").value+"/"+srt;
}

function ajaxSubmit(){
	var submitData = $('#form-menu-add').serialize();
	$.post("{{ url_for('admin.wx_text_edit') }}", submitData, function(res) {
		if (res.status == 200) {
			window.parent.location.reload();
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		}else{
			alert(res.msg);
		}
	}, "json");
}

</script>
{% endblock %}