{% extends "admin/base.html" %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-4">
        <h2>{{ menutitle }}</h2>
        <ol class="breadcrumb">
            <li>{{ navtitle }}</li>
        </ol>
    </div>
    <div class="col-lg-8">
        <div class="title-action">
            <a href="" class="btn btn-primary">刷新</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}