{% extends "admin/base.html" %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>这里是标题</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('admin.welcome') }}">首页</a>
            </li>
            <li class="active">
                <strong>包屑式导航</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-3">
        <div class="title-action">
            <a href="" class="btn btn-primary">刷新</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>的都是<br/>额问问e无
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}