<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
	<title>{{ find.sitename }}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="renderer" content="webkit">
	<meta http-equiv="cache-control" content="no-siteapp">
	<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='h_admin/login/style.css') }}?=12" />
</head>
<body class="login-bg">
	<canvas id="canvas" class="canvas"></canvas>
	<div class="login">
		<div class="mti">
			{{ find.sitename }}
		</div>
		<div class="login-form">
			<form role="form" method="post">
				<div class="login-mode act">
					<div class="login-form-item">
						<input type="text" name="username" class="txt" placeholder="登录名" required="">
					</div>
					<div class="login-form-item">
						<input type="password" name="password" class="txt" placeholder="密码" required="">
					</div>

					<button type="button" id="btn" class="btn green">确定</button>
				</div>
			</form>
		</div>
	</div>

	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='h_admin/login/canvas.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/plugins/layer/layer.min.js') }}"></script>
	<script type="text/javascript">
	$("#btn").on("click", function () {
		$.ajax({
			url: "{{ url_for('admin.login') }}",
			type: "post",
			cache: false,
			data: {
				username : $('input[name="username"]').val(),
				password : $('input[name="password"]').val()
			},
			success: function (res) {
			  if(res.status == 401){
				layer.msg(res.msg);
			  }else{
				location.href = "{{ url_for('admin.index') }}";
			  }
			}
		});
	});
	</script>
</body>
</html>