{% extends "admin/base.html" %}
{% block title %}
<title>登录</title>
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
</head>
<body>
{% block content %}
<div class="header">{{ find.sitename }} 后台管理系统</div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="form form-horizontal" method="post">
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8">
          <input id="" name="username" type="text" placeholder="账户" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-8">
          <input id="" name="password" type="password" placeholder="密码" class="input-text size-L">
        </div>
      </div>
      <!--<div class="row cl">-->
        <!--<div class="formControls col-xs-8 col-xs-offset-3">-->
          <!--<input class="input-text size-L" type="text" name="verify" placeholder="验证码" style="width:150px;  float: left; margin-right: 20px">-->
          <!--<div alt="点击切换" id="captchaImg" style="vertical-align:middle; cursor:pointer; width: 160px; float: left;">{:captcha_img()}</div>-->
        <!--</div>-->
      <!--</div>-->
<!--       <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <label for="online">
            <input type="checkbox" name="online" id="online" value="">
            使我保持登录状态</label>
        </div>
      </div> -->
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input name="" type="button" id="btn" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright {{ find.sitename }} by {{ version }}</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
$("#btn").on("click", function () {
    $.ajax({
        url: "{{ url_for('admin.login') }}",
        type: "post",
        cache: false,
        data: {
            username : $('input[name="username"]').val(),
            password : $('input[name="password"]').val()
        },
        success: function (res) {
          if(res.status == 401){
            layer.msg(res.msg);
          }else{
            location.href = "{{ url_for('admin.index') }}";
          }
        }
    });
});
</script>
{% endblock %}
</body>
</html>