{% extends "admin/base.html" %}

{% block content %}
<article class="page-container">
	<form action="" class="form form-horizontal" id="form-menu-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span> 广告标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="" name="title" value="{{ find.title }}">
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">广告类型：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="" name="type" value="{{ find.type }}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">广告链接地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="" name="url" value="{{ find.url }}">
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">广告图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list">
						{% if find.img %}
						<div class="file-item thumbnail">
							<img src="{{ find.url_img }}" width="100" height="100">
						</div>
						{% endif %}
					</div>
					<div id="filePicker">修改图片</div>
					<div id="btn-star" class="btn btn-default btn-uploadstar radius ml-10">删除</div>
				</div>
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">广告描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="intro" cols="" rows="" class="textarea" >{{ find.intro }}</textarea>
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">广告代码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="content" cols="" rows="" class="textarea" >{{ find.content }}</textarea>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">排序：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="" name="sort" value="{{ find.sort }}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">状态：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="status" type="radio" id="status-1" value="1" {% if find.status == 1 %} checked="checked" {% endif %}>
					<label for="status-1">启动</label>
				</div>
				<div class="radio-box">
					<input name="status" type="radio" id="status-2" value="0" {% if find.status == 0 %} checked="checked" {% endif %}>
					<label for="status-2">停用</label>
				</div>
			</div>
		</div>

		<input name="id" type="hidden" value="{{ find.id }}">
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;编辑&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{% endblock %}

{% block scripts %}
    {{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/webuploader/0.1.5/webuploader.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='lib/webuploader/0.1.5/webuploader.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/webuploader/0.1.5/uploaderImgOne.js') }}"></script>

<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

	$("#form-menu-add").validate({
		rules:{
			title:{
				required:true,
				minlength:2,
				maxlength:16
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			ajaxSubmit();
		}
	});
});

function ajaxSubmit(){
	var submitData = {
		id          : $('input[name="id"]').val(),
		title       : $('input[name="title"]').val(),
		url         : $('input[name="url"]').val(),
		type        : $('input[name="type"]').val(),
		intro       : $('textarea[name="intro"]').val(),
		content     : $('textarea[name="content"]').val(),
		sort	    : $('input[name="sort"]').val(),
		status      : $('input[name="status"]:checked').val()
    }
	if(imgFile){
		submitData['img'] = imgFile.path;
	}
	$.post("{{ url_for('admin.ad_edit') }}", submitData, function(res) {
		if (res.status == 200) {
			window.parent.location.reload();
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		}else{
			alert(res.msg);
		}
	}, "json");
}

</script>
{% endblock %}