{% extends "admin/base.html" %}

{% block content %}
<article class="page-container">
	<form action="" class="form form-horizontal" id="form-menu-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span> 用户名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="" name="username">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span> 密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" placeholder="" name="password">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span> 重复密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" placeholder="" name="confirm_password">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">所属权限组：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="group_id" class="select">
						{% for list in group_list %}
							<option value="{{ list.id }}">{{ list.title }}</option>
						{% endfor %}
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">状态：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="status" type="radio" id="status-1" value="1" checked>
					<label for="status-1">启动</label>
				</div>
				<div class="radio-box">
					<input name="status" type="radio" id="status-2" value="0">
					<label for="status-2">停用</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

{% endblock %}

{% block scripts %}
    {{ super() }}
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

	$("#form-menu-add").validate({
		rules:{
			username:{
				required:true,
				minlength:2,
				maxlength:16
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			ajaxSubmit();
		}
	});
});

function ajaxSubmit(){
	if($('input[name="password"]').val() != $('input[name="confirm_password"]').val()){
		layer.msg('两次输入密码不同!',{icon:2,time:1000});
	}
	var submitData = $('#form-menu-add').serialize();
	delete submitData.confirm_password;
    $.post("{{ url_for('admin.auth_user_add') }}", submitData, function(res) {
		if (res.status == 200) {
			window.parent.location.reload();
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		}else{
			alert(res.msg);
		}
	}, "json");
}
</script>
{% endblock %}