{% extends "admin/base.html" %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>{{ menutitle }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首页</a>
            </li>
            <li class="active">
                <strong>{{ navtitle }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-3">
        <div class="title-action">
            <a href="" class="btn btn-primary">刷新</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table id="table"></table>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
<!-- Bootstrap table -->
<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/plugins/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js') }}"></script>
{% endblock %}