{% extends "admin/base.html" %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>{{ menutitle }}</h2>
        <ol class="breadcrumb">
            <li>{{ navtitle }}</li>
        </ol>
    </div>
    <div class="col-lg-3">
        <div class="title-action">
            <a href="" class="btn btn-primary">刷新</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
			<div class="row">
				<div class="col-sm-8">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>系统/站点配置</h5>
						</div>
						<div class="ibox-content">
							<form class="form-horizontal" id="form-config-add">
								<div class="form-group">
									<label class="col-sm-2 control-label">系统/站点名称：</label>
									<div class="col-sm-10">
										<input type="text" name="sitename" placeholder="控制在2个字、50个字节以内" value="{{ find.sitename or '' }}" class="form-control">
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">站点关键词：</label>
									<div class="col-sm-10">
										<input type="text" name="metakeys" placeholder="5个左右,8汉字以内,用英文,隔开" value="{{ find.metakeys or '' }}" class="form-control">
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">站点描述：</label>
									<div class="col-sm-10">
										<input type="text" name="metadesc" placeholder="空制在80个汉字，160个字符以内" value="{{ find.metadesc or '' }}" class="form-control">
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">所属公司名称：</label>
									<div class="col-sm-10">
										<input type="text" name="company" value="{{ find.company or '' }}" class="form-control">
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">该站点网址：</label>
									<div class="col-sm-10">
										<input type="text" name="siteurl" placeholder="http://" value="{{ find.siteurl or '' }}" class="form-control">
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">备案号：</label>
									<div class="col-sm-10">
										<input type="text" name="icp" placeholder="京ICP备00000000号" value="{{ find.icp or '' }}" class="form-control">
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">所在地址：</label>
									<div class="col-sm-10">
										<input type="text" name="address" placeholder="" value="{{ find.address or '' }}" class="form-control">
									</div>
								</div>
								<input type="hidden" name="id" value="1" />
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-2">
										<button class="btn btn-primary" type="submit">保存/修改</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>备注说明</h5>
						</div>
						<div class="ibox-content">
							备注说明
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- validate -->
<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/plugins/validate/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/plugins/validate/messages_zh.min.js') }}"></script>
<!-- Sweet alert -->
<script type="text/javascript" src="{{ url_for('static', filename='h_admin/js/plugins/sweetalert/sweetalert.min.js') }}"></script>
<script type="text/javascript">
$(function(){
	$("#form-config-add").validate({
		rules:{
			sitename:{
				required:true,
				minlength:2,
				maxlength:50
			},
			metakeys:{
				required:true,
				minlength:2,
				maxlength:50
			},
			metadesc:{
				required:true,
				minlength:2,
				maxlength:300
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			ajaxSubmit();
		}
	});
});

function ajaxSubmit(){
	var submitData = $('#form-config-add').serialize();
    $.post("{{ url_for('admin.conf_index') }}", submitData, function(res) {
		if(res.status == 200){
			swal({
				title: "设置完成",
				type: "success"
			}, function () {
				window.location.reload();
			});
		}else{
			alert(res.msg);
		}
	}, "json");
}
</script>
{% endblock %}