{% extends "admin/base.html" %}

{% block content %}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> {{ menutitle }} <span class="c-gray en">&gt;</span> {{ navtitle }} <a class="btn btn-success radius r refresh" id="btn-refresh" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="add('添加文章','add','','520')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加文章</a></span> <span class="r">共有数据：<strong>{{ count }}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="50">ID</th>
				<th width="">文章标题</th>
				<th width="70">所属单元</th>
				<th width="70">所属分类</th>
				<th width="70">来源/作者</th>
				<th width="50">置顶</th>
				<th width="50">排序</th>
				<th width="100">发布时间</th>
				<th width="70">状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			{% for list in list %}
				<tr class="text-c">					
					<td><input type="checkbox" name="did" value="{{ list.id }}"></td>
					<td>{{ list.id }}</td>
					<td class="text-l">{{ list.title }}</td>
					<td>{{ list.section.title or '' }}</td>
					<td>{{ list.category.title or '' }}</td>
					<td>{{ list.author }}</td>
					<td class="td-istop">
						{% if list.istop == 0 %}
							<i class="Hui-iconfont">&#xe608;</i>
						{% else %}
							<i class="Hui-iconfont">&#xe6a8;</i>
						{% endif %}
					</td>
					<td>{{ list.sort }}</td>
					<td>{{ list.start_time_date }}</td>
					<td class="td-status">
						{% if list.status == 1 %}
							<span class="label label-success radius">已启用</span>
						{% else %}
							<span class="label label-defaunt radius">已停用</span>
						{% endif %}
					</td>
					<td class="td-manage">
						{% if list.status == 1 %}
							<a class="text-de-none" onClick="stop(this,{{ list.id }})" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
						{% else %}
							<a class="text-de-none" onClick="start(this,{{ list.id }})" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>
						{% endif %}
						<a title="编辑" href="javascript:;" onclick="edit('编辑','edit?id={{ list.id }}','','520')" class="ml-5"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a title="删除" href="javascript:;" onclick="del(this,{{ list.id }})" class="ml-5"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,2,3,4,5,6,9,10]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			//$(this).$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});

/*添加*/
function add(title,url,w,h){
	layer_show(title,url,w,h);
}

/*编辑*/
function edit(title,url,w,h){
	layer_show(title,url,w,h);
}

/*停用*/
function stop(obj,id){
    console.log(id);
	layer.confirm('确认要停用吗？',function(){
		var submitData = {
			id : id,
			status : 0,
	    };
	    $.post("{{ url_for('admin.article_edit') }}", submitData, function(res) {
			if (res.status == 200) {
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="start(this,'+id+')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
				$(obj).remove();
				layer.msg('已停用!',{icon: 5,time:1000});
			}else{
				layer.msg(res.msg);
			}
		}, "json");
	});
}

/*启用*/
function start(obj,id){
	layer.confirm('确认要启用吗？',function(){
		var submitData = {
			id : id,
			status : 1,
	    };
		$.post("{{ url_for('admin.article_edit') }}", submitData, function(res) {
			if (res.status == 200) {
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="stop(this,'+id+')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
				$(obj).remove();
				layer.msg('已启用!',{icon: 6,time:1000});
			}else{
				layer.msg(res.msg);
			}
		}, "json");
	});
}

/*删除*/
function del(obj,id){
	layer.confirm('确认要删除吗？',function(){
		var submitData = {
			id : id,
	    }
	    $.post("{{ url_for('admin.article_delete') }}", submitData, function(res) {
			if (res.status == 200) {
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			}else{
				layer.msg(res.msg);
			}
		}, "json");
	});
}

//选择删除
function datadel(){
    layer.confirm('确认要删除吗？',function(){
		var did = document.getElementsByName('did');
		var value = new Array();
		for(var i = 0; i < did.length; i++){
			if(did[i].checked){
				value.push(did[i].value);
			}
		}

		var submitData = {
			id : value.join(','),
		}

		$.post("{{ url_for('admin.article_delete') }}", submitData, function(res) {
			if (res.status == 200) {
				window.location.reload();
				layer.msg('已删除!',{icon:1,time:1000});
			}else{
				layer.msg(res.msg);
			}
		}, "json");
    });
}
</script>
{% endblock %}
